@font-face {
    font-family: Neue Haas Grotesk Display Pro;
    src: url(fonts/NeueHaasDisplayThin.ttf);
} 

body{

    position: absolute;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    margin: 0;

}

.container{

    display: flex;
    /* grid-column: span 9 / span 9; */
    /* padding: 167px 0 54px; */
    /* justify-content: end; */
    flex-direction: column;
    flex-wrap: wrap;

}
.fondo{

    display: grid;
    grid-template-columns: 6fr 4fr;
    max-width: 1440px;
    width: 95%;
    max-height: 686px;
    height: 100%;
    margin: 108px auto 65px;
    background: #D9E4EB;
    border-radius: 38px;

}

.iphone{

    position: absolute;
    display: flex;
    max-width: 1024px;
    width: 100%;
    height: 792px;
    top: 0px;
    left: 40px;
    background: url(imgane/iPhone\ X\ Mockup\ 1.png);
    background-repeat: no-repeat;
    border-radius: 38px;

}

.primary{

    position: absolute;
    display: grid;
}

h1{

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 68px;
    text-align: center;
    color: #32413D;

}


.second{

    display: grid;
    /* width: 100%; */
    /* height: 168px; */
    /* left: 788px; */
    top: 343px;
    /* margin-top: 2rem; */
    margin-top: 15rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

p{

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    letter-spacing: 0.01em;

}


.boton{

        /* position: absolute; */
        display: grid;
        align-items: center;
        padding: 10px 20px;
        max-width: 18.8rem;
        width: 100%;
        height: 49px;
        left: 990px;
        top: 70%;
        bottom: 99px;
        background: #32413D;
        border-radius: 80px;
        font-family: 'Neue Haas Grotesk Display Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFF;
        margin: auto;
        margin-top: 3rem;
        order: 0;
    

}



.boton_color :hover{

    color: black;
    background: #ECFF86 ;
    transition: 0.5s;
    outline: none;
    border-color: #ECFF86;


}

@media screen and (max-width:1185px) {
    

.fondo{

    position: absolute;
    height: 1004px;
    width: 100%;
    max-height: 1004px;
    left: 0px;
    top: 191px;
    right: 0px;
    bottom: 0px;
    margin: 0 0;
    background: #D9E4EB;
    display: grid;
    grid-template-rows: 6fr 4fr 1fr;
    border-radius: 0;

}

.iphone{

    position: absolute;
    max-width: 23.4rem;   
    width: 100%;
    height: 603px;
    padding-right: 6.7rem;
    top: -191px;   
    left: -8.8rem;
    right: 109px;
    background: url(imgane/iPhone\ X\ Mockup\ 1.png);
    background-position: left;
    background-size: cover;

}

.simbolo{

    background: url(imgane/icono.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: top;
    left: 35%;
    right: 35%;
    top: 42%;
    bottom: 45.24%;

}


.primary{

    position: absolute;
    display: grid;
    max-width: 100%;
    width: 100%;
    height: 8.2rem;
    top: 31.7rem;
    left: 0;
    bottom: 336px;
    /* align-content: center; */
    /* padding: 2% 4%;*/

}

h1{

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: inherit;
    font-size: 45px;
    margin: 0;
    line-height: 45px;
    text-align: center;
    color: #32413D;

}

.second{

    position: absolute;
    display: grid;
    max-width: 924px;
    width: auto;
    height: 140px;
    left: 1rem;
    top: 663px;
    bottom: 201px;
    padding: 2% 4%;
    align-content: center;
    margin-bottom: 20px;
    margin-top: 0.1rem;
    margin-right: auto;
    margin-left: auto;

}
p{

    font-family: 'Neue Haas Grotesk Display Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #32413D;

}

.boton{

    display: grid;
    align-items: center;
    max-width: 18.8rem; 
    width: 100%;
    height: 49px;
    top: 856px;
    left: 0;
    right: 0;
    bottom: 99px;
    border-radius: 80px;
    position: absolute;
    margin-top: 2.5rem;
    /* margin-left: 10%;*/
    margin: auto;
}

.boton_color{

    width: 0px;
    height: 0px;


}



}
/* width: 151px;
    height: 23px;
    font-family: 'Aeonik Pro TRIAL';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    outline: none;*/


/*display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 20px;
    gap: 10px;
    position: absolute;
    width: 341px;
    height: 49px;
    left: 132px;
    top: 1047px;
    background: #32413D;
    border-radius: 80px;
    outline: none;*/